.order-received{
    background-color:var(--secondary-background-color);
    min-height: 100vh;
    padding: 50px;
}
.order-received__wrapper{
    background-color:var(--main-background-color);
    width: 60%;
    margin: auto;
    height: 100%;
    padding: 40px;
}
.order-received__header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 80px;
}
.order-received__header-logo{
    width: 80px;
}
.order-received__header-title{
    font-size:18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0;
    font-family: 'RobotoBold';
    color: var(--text-color);
}
.order-received__header-title-success-icon{
    width: 20px;
}
.order-received__body-description{
    text-align: center;
    color: var(--text-color);
    margin-bottom: 30px;
}
.order-received__order-details-wrapper{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-bottom: 20px;
}
.order-received__order-details{
    background-color:var(--secondary-background-color);;
    padding: 30px;
    text-align: center;
    color: var(--text-color);
}
.order-received__order-title{
    font-size: 16px;
    color: var(--text-color);
    font-family: 'RobotoBold';
}
@media (max-width:992px) {
    .order-received{
        padding: 30px 15px;
        padding-bottom: 80px;
    }
    .order-received__wrapper{
        width: 100%;
        padding: 20px;
    }
}
@media (max-width:450px) {
    .order-received__order-details-wrapper{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 10px;
        margin-bottom: 10px;
    }
}