.uplifts{
    padding: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uplifts__title{
    font-size: 24px;
    font-family: 'RobotoBold';
    margin-bottom:45px;
    text-align: center;
    color: var(--text-color);
    line-height: 33px;
}
.uplifts__img{
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    object-fit: contain;
}
@media (max-width:568px) {
    .uplifts__title{
        width: 90%;
        line-height: 30px;
        font-size:16px
    }
    .uplifts{
        padding: 15px 0;
        margin-bottom:15px;
    }
}