

.product-details__another-product{
    position: fixed;
    top: 50%;
    height: 90px;
    display: flex;
    background-color: transparent!important;
    /* transform:translate(calc(100% - 24px),-50%); */
    transition: var(--transition);
    transition-delay: .3s;
    z-index: 10;
    direction: ltr;

}
.product-details__another-product:hover{
    transform:translate(0,-50%) ;
}
.product-details__another-product--next{
    right: 0;
    transform:translate(calc(100% - 24px),-50%);
}
.product-details__another-product--prev{
    left: 0;
    flex-direction: row-reverse;
    transform:translate(calc(-100% + 24px),-50%);
}
.product-details__another-product-arrow{
    width: 24px;
    height: 100%;
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    transition-duration:.2s;
}
.product-details__another-product:hover .product-details__another-product-arrow{
    transform:translate(100%);
}
.product-details__another-product:hover .product-details__another-product-arrow{
    transform:translate(100%);
}
.product-details__another-product--prev:hover .product-details__another-product-arrow{
    transform:translate(-100%);
}
.product-details__another-product-icon{
    width: 15px;
    height: 15px;
    color: var(--main-background-color);
}
.product-details__another-product-content-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 270px;
    transition: var(--transition);
    background-color:var(--main-background-color);
    box-shadow: 1px 1px 10px #0000001a;
    z-index: 1;
}
.product-details__another-product--prev .product-details__another-product-content-wrapper{
    flex-direction: row-reverse;
}
.product-details__another-product-link{
    width: 90px;
    height: 100%;
}
.product-details__another-product-img{
    width: 90px;
    height: 100%;
}
.product-details__another-product-title{
    font-size: 16px;
    color: var(--text-color);
    margin-bottom:0;
}
.product-details__another-product-price{
    font-size: 16px;
    color: var(--text-color);
    margin-bottom:0;
}
@media (max-width:768px) {
    .product-details__another-product{
        display: none;
    }
}