.failure__header-title{
    background-color: #C62828;
    padding: 12.5px 19px;
    border-left: 5px solid #00000033;
    display: flex;
    gap: 10px;
    font-size:16px;
    color: white;
    margin-bottom: 24px;
}
.failure__header-icon{
    width: 18px;
    height: 18px;
    color: white;
}
.failure__content{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}