.cart__links-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cart__link{
    position: relative;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.cart__link::after{
    content: '';
    width: 120px;
    height: .5px;
    background-color: #d6d6d6;
}
.cart__link:hover{
    color: var(--text-color);
}
.cart__link-span{
    width: 30px;
    height: 30px;
    background-color: var(--text-color);
    color: var(--main-background-color);
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__wrapper{
    min-height: 600px;
}
.cart__wrapper-container{
    min-height: inherit;
}
.cart__wrapper-row{
    min-height: inherit;
}